@import "~bootstrap/scss/bootstrap";

.error-message{color:red}

.text-muted{--bs-text-opacity: 1;
color:#6c757d !important}

.form-control {
    border-radius: .25rem;
    border: 1px solid #ced4da; 
    color: #212529;
    border: 1px solid #ced4da;
    background-color: #fff;
    background-clip: padding-box;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

  